<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">RestaurantApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Owner</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/restaurants">Mis Restaurantes</a></li>
            <li><a class="dropdown-item" href="/restaurants/create">+ Nuevo Restaurante</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/menu">Menu</a></li>
            <li><a class="dropdown-item" href="/menu/create">+ Nuevo Item</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/reports">Reportes</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Cliente</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/orders">Mis Pedidos</a></li>
            <li><a class="dropdown-item" href="/orders/create">+ Nuevo Pedido</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/reviews">Mis Resenas</a></li>
            <li><a class="dropdown-item" href="/reviews/create">+ Nueva Resena</a></li>
          </ul>
        </li>
      </ul>
      <span class="navbar-text text-muted small">
        <a href="/health" class="text-success text-decoration-none" target="_blank">API</a>
      </span>
    </div>
  </div>
</nav>
