PORT=3000

# Reemplaza `<usuario>`, `<password>` y la URL con los datos de tu cluster de MongoDB Atlas
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/proyecto1?retryWrites=true&w=majority